*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: black;
}

body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track{
    width: 5px;
    background-color: white;
}
body::-webkit-scrollbar-thumb{
    width: 5px;
    background: black;
    border-radius: 20px;
}

main{
    width: 100%;
}
header{
    width: 100%;
    padding: 2rem 2.5rem;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .top-right-nav{
            width: 45rem;
            display: flex;
            justify-content: space-between;
            li{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: normal;
                font-size: 1.6rem;
                a{
                    color: white;
                }
            }
        }
        .brand-name{
            li{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 2rem;
                a{
                    color: #FFFFFF;
                }
            }
        }
    }
}

ul{
    list-style: none;
    li{
        a{
            text-decoration: none;
        }
    }
}

#hero-sec{
    width: 100%;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    padding: 17rem 15rem 20rem 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #heading{
        h1{
            font-family: 'Times New Roman';
            font-style: normal;
            font-weight: normal;
            font-size: 12rem;
            padding-bottom: 2.5rem;
        }
        p{
            width: 60rem;
            font-family: Times New Roman;
            font-style: normal;
            font-weight: 600;
            font-size: 1.6rem;
            padding-bottom: 10.8rem;
        }
        button{
            padding: 1.5rem 3.8rem;
            border: none;
            color: white;
            background-color: black;
            cursor: pointer;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 1.5rem;
            box-shadow: 10px 9px 14px rgba(0, 0, 0, 0.5);
            border-radius: 50px;
        }
    }
    #bg-img{
        img{
            width: 38.6rem;
        }
    }
}
#about-sec{
    width: 100%;
    font-family: 'Roboto';
    color: white;
    padding: 0 10rem 0 75rem;
    h1{
        font-weight: 500;
        font-size: 10rem;
        padding-bottom: 5rem;
    }
    p{
        width: 80%;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        padding-bottom: 4rem;
    }
}

#member-sec{
    width: 100%;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    background-color: white;
    padding: 12rem 14rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div{
        width: 36rem;
        padding: 5rem 0;
        background-color: black;
        border-radius: 15px;
        box-shadow: 16px 15px 38px rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
        aside{
            width: 12rem;
            height: 12rem;
            border-radius: 50%;
            margin-bottom: 4rem;
        }
        h1{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 3rem;
            color: white;
            padding-bottom: 1.1rem;
            transform: translate(-1.1rem);
        }
        p{
            color: white;
            padding: 0 8rem 4rem 8rem;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 1.5rem;
        }
        ul{
            width: 30%;
            display: flex;
            justify-content: space-between;
            transform: translate(-4.5rem);
            li{
                img{
                    width: 2.5rem;
                }
                img:hover{
                    transform: scale(1.2);
                    transition: .2s;
                }
            }
        }
    }
}
#carousel-sec{
    width: 100%;
    padding: 10rem 30rem;
    #sub-carousel-sec{
        width: 100%;
        background-color: white;
        border-radius: 2rem;
        padding: 3rem 8rem 8rem 8rem;
        position: relative;
        
        h1{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 450;
            font-size: 5rem;
            padding-bottom: 1rem;
        }
        #carousel{
            width: 100%;
            height: 38rem;
            overflow: hidden;
            position: relative;
            #carousel-scroll{
                width: 320%;
                height: 29rem;
                position: absolute;
                top: 20px;
                left: 0;
                display: flex;
                justify-content: space-around;
                article{
                    width: 40rem;
                    min-height: 100%;
                    border-radius: 10px;
                    padding: 6.2rem 4rem;
                    h1{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 3rem;
                        color: white;
                        padding-bottom: 3rem;
                    }
                    p{
                        width: 90%;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 1.6rem;
                        color: white;
                    }
                }
            }
        }
        #player{
            width: 11rem;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 5rem;
            right: 10rem;
            img{
                cursor: pointer;
                width: 5rem;
            }
            img:hover {
                transform: scale(1.1);
                transition: .2s;
            }
        }
    }
}

#last-sec{
    width: 100%;
    padding: 20rem 4rem 7.5rem 4rem;
    background-color: white;
    #sub-last-sec{
        width: 100%;
        background-color: black;
        border-radius: 1rem;
        padding: 2.5rem 5rem;
        display: flex;
        #last-sec-con{
            width: 48%;
            min-height: 100%;
            color: white;
            display: flex;
            padding-top: 4rem;
            flex-direction: column;
            justify-content: center;
            transform: translateY(-12%);
            h4{
                color: #621DEE;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 3rem;
            }
            h1{
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 7.5rem;
                padding-bottom: 4rem;
            }
            p{
                width: 80%;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 1.6rem;
                padding-bottom: 3.5rem;
            }
            button{
                width: 30%;
                padding: 1.5rem 3.8rem;
                border: none;
                color: black;
                background: #E2BBF0;
                cursor: pointer;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 1.5rem;
                box-shadow: .7rem .5rem 1.6rem rgba(184, 51, 235, 0.8);
                border-radius: 5rem;
            }
        }
        #last-sec-divs{
            width: 52%;
            min-height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            article{
                width: 48%;
                height: 32.0rem;
                background-color: #E2BBF0;
                margin-bottom: 3rem;
                box-shadow: 1.6rem 1.5rem 3.8rem #7C33EB;
                border-radius: 2rem;
                padding: 3rem;
                h1{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 3rem;
                    padding-top: 10rem;
                    padding-bottom: 2.5rem;
                }
                p{
                    width: 95%;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.6rem;
                    padding-bottom: 3.5rem;
                }
            }
            #rotate{
                transform: rotate(-10deg) translate(5%, -40%);
            }
        }
    }
}
footer{
    width: 100%;
    padding: 2rem 2.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    ul{
        width: 25%;
        display: flex;
        justify-content: space-between;
        li{
            a{
                color: white;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 1.2rem;
                padding-bottom: 4rem;
            }
        }
    }
}

#up{
    position: fixed;
    width: 6rem;
    height: 6rem;
    background-color: white;
    bottom: .5rem;
    right: .5rem;
    z-index: 99;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    display: none;
    img{
        width: 2rem;
    }
}
#loader-con{
    width: 100%;
    min-height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
    z-index: 10000;
}

#loader{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: white;
    animation: beat 2s infinite;
    transition: all 2s;
}

@keyframes beat {
    0%{transform: scale(1);}
    50%{transform: scale(1.5);}
    100%{transform: scale(1);}
}

@keyframes fade {
    0%{opacity: 1;}
    100%{opacity: 0;display: none;}
}

@media (max-width:1440px) and (min-width:1280px){
    html{
        font-size: 55%;
    }
}

@media (max-width:1280px) and (min-width:880px){
    html{
        font-size: 38%;
    }
}
@media (max-width:880px) and (min-width:683px){
    html{
        font-size: 30%;
    }
}
@media (max-width:683px) and (min-width:550px){
    html{
        font-size: 40%;
    }
    main #about-sec{
        padding: 0 10rem 0 30rem;
    }
    main #member-sec{
        flex-direction: column;
        align-items: center;
        padding-top: 50rem;
    }
    main #carousel-sec{
        padding: 5rem 5rem;;
    }

}
@media (max-width:550px){
    html{
        font-size: 30%;
    }
    main #hero-sec{
        img{
            display: none;
        }
    }
    main #about-sec{
        padding: 0 10rem 0 30rem;
    }
    main #member-sec{
        flex-direction: column;
        align-items: center;
        padding-top: 30rem;
    }
    main #carousel-sec{
        padding: 5rem 5rem;;
    }
    main #sub-last-sec{
        flex-direction: column-reverse;
        #last-sec-divs{
            width: 100%!important;
            padding-bottom: 8rem;
        }
        #last-sec-con{
            width: 100%!important;
        }
    }

}
